.dashboard {
  padding: 0 10px;
}

.dashboard-title {
  color: $primary-blue;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  text-shadow: 2px 2px $gray-light;

  @include breakpoint(md) {
    font-size: 35px;
  }
}

.dashboard-cards-container {
  display: flex;
  justify-content: space-between;

  @include breakpoint(md) {
    justify-content: space-between;
  }
}

.dashboard-card {
  background-color: $white;
  min-width: 200px;
  border: 1px solid $primary-gray;
  margin: 20px 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 20px 5px;
  box-shadow: 2px 2px 5px $gray-light;

  &:last-child {
    margin-right: 0;
  }
}

.dashboard-card-information-wrapper {
  text-align: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0,
  }
}

.dashboard-card-information-number {
  color: $black;
  margin: 0;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;

  @include breakpoint(md) {
    font-size: 35px;
  }
}

.dashboard-card-information-text {
  color: $primary-gray;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.dashboard-card-information-progressbar {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

.dashboard-card-wrapper-helper {
  width: 100%;
}

.dashboard-card-information-progresscircle {
  position: relative;
  width: 140px;
  margin: auto;
  margin-bottom: 10px;

  .dashboard-card-information-number {
    @extend %absolute-vertical-align;
    font-size: 25px;
  }
}

.dashboard-card-linear-chart-container {
  background-color: $white;
  width: 600px;
  padding: 20px 35px;
  border: 1px solid $primary-gray;
  box-shadow: 2px 2px 5px $gray-light;

  @include breakpoint(md) {
    width: 640px;
  }
}

.dashboard-card-linera-chart {
  margin-top: 20px;
}
