.login {
  width: 400px;
  padding: 35px 50px;
  border: 1px solid $primary-gray;
  background: $white;
  box-shadow: 0px 10px 1px -5px $gray-light;
}

.login-logo-wrapper {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  margin: 20px auto;
  padding: 20px;
  background: $white;
  display: flex;
  align-items: center;
}

.login-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: $white;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
}

.login-input-group {
  margin-bottom: 30px;
}

.login-input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: $primary-gray;
  text-shadow: 1px 1px $gray-light;
}

.login-input-wrapper {
  display: flex;
  align-items: center;
}

.login-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $primary-gray;
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;

  &:focus {
    outline: none;
    border-bottom: 2px solid $primary-pink;
    padding-bottom: 4px;
  }
}

.login-input-button-wrapper {
  padding-top: 10px;
  text-align: center;
}

.login-input-button {
  @extend %button;
}

.login-forgot-password-wrapper {
  text-align: left;
  margin-bottom: 10px;
}

.login-forgot-password {
  color: $primary-pink;

  &:hover {
    color: $primary-pink;
    underline: 1px solid $primary-pink;
  }
}
