%icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  vertical-align: middle;
}

.icon-home {
  @extend %icon;
  background-image: url('../../icons/home.svg');
  height: 19px;
  width: 19px;

  &.is-active {
    background-image: url('../../icons/home-active.svg');
  }
}

.icon-user {
  @extend %icon;
  background-image: url('../../icons/user.svg');
  height: 19px;
  width: 19px;

  &.is-active {
    background-image: url('../../icons/user-active.svg');
  }
}

.icon-list-button {
  @extend %icon;
  background-image: url('../../icons/list-button.svg');
  height: 19px;
  width: 19px;

  &.is-active {
    background-image: url('../../icons/list-button-active.svg');
  }
}

.icon-happy-face {
  @extend %icon;
  background-image: url('../../icons/happy-face.svg');
  height: 19px;
  width: 19px;

  &.is-active {
    background-image: url('../../icons/happy-face-active.svg');
  }
}

.icon-locked {
  @extend %icon;
  background-image: url('../../icons/locked.svg');
  height: 19px;
  width: 19px;

  &.is-active {
    background-image: url('../../icons/locked-active.svg');
  }
}

.icon-pencil {
  @extend %icon;
  background-image: url('../../icons/pencil.svg');
  height: 19px;
  width: 19px;

  &:hover {
    background-image: url('../../icons/pencil-active.svg');
  }

  &.is-active {
    background-image: url('../../icons/pencil-active.svg');
  }
}

.icon-rubbish {
  @extend %icon;
  background-image: url('../../icons/rubbish.svg');
  height: 19px;
  width: 19px;

  &:hover {
    background-image: url('../../icons/rubbish-active.svg');
  }

  &.is-active {
    background-image: url('../../icons/rubbish-active.svg');
  }
}
