/* ==========================================================================
   This file should contain styles the are global to a context. For example,
   if we had a Dashboard and an Application inside this project, we would create
   a theme file for each of them.
   ========================================================================== */

.body-content {
  display: flex;
}

.section {
}

.content-container {
  width: calc(100% - #{$sidebar-width});
  padding: 20px;
  margin-left: $sidebar-width;

  @include breakpoint(md) {
    width: calc(100% - #{$sidebar-width-md});
    padding: 40px;
    margin-left: $sidebar-width-md;
  }
}

.content-container-login {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: $primary-blue;
}

.title-page {
  color: $primary-blue;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  text-shadow: 2px 2px $gray-light;

  @include breakpoint(md) {
    font-size: 35px;
  }
}
